file db/vsam_ctrlname.db
{
	{S="ioc",D=0}
}
file db/vsam_chname.db
{
	{S="ioc",D=0,C=0}
	{S="ioc",D=0,C=1}
	{S="ioc",D=0,C=2}
	{S="ioc",D=0,C=3}
	{S="ioc",D=0,C=4}
	{S="ioc",D=0,C=5}
	{S="ioc",D=0,C=6}
	{S="ioc",D=0,C=7}
	{S="ioc",D=0,C=8}
	{S="ioc",D=0,C=9}
	{S="ioc",D=0,C=10}
	{S="ioc",D=0,C=11}
	{S="ioc",D=0,C=12}
	{S="ioc",D=0,C=13}
	{S="ioc",D=0,C=14}
	{S="ioc",D=0,C=15}
	{S="ioc",D=0,C=16}
	{S="ioc",D=0,C=17}
	{S="ioc",D=0,C=18}
	{S="ioc",D=0,C=19}
	{S="ioc",D=0,C=20}
	{S="ioc",D=0,C=21}
	{S="ioc",D=0,C=22}
	{S="ioc",D=0,C=23}
	{S="ioc",D=0,C=24}
	{S="ioc",D=0,C=25}
	{S="ioc",D=0,C=26}
	{S="ioc",D=0,C=27}
	{S="ioc",D=0,C=28}
	{S="ioc",D=0,C=29}
	{S="ioc",D=0,C=30}
	{S="ioc",D=0,C=31}
}
